# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
.venv/
venv/
ENV/
env/

# Environment variables
.env

# IDE / Editor folders
.vscode/
.idea/
*.swp

# OS specific files
.DS_Store
Thumbs.db

# Logs and databases
*.log
*.sqlite3

.bob/